<!-- source/flats/show.html.erb -->

<!-- Read from data.flats with owner's name as key -->

<!-- Inject flat data in template -->
<%= image_tag infos.owner_picture, class: "img-circle" %>
<p><%= infos.owner_name %></p>
<h1><%= infos.description %></h1>
<p><%= infos.city %></p>
